<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>new_oj</display-name>

	<context-param>
	     <param-name>contextConfigLocation</param-name>
	     <param-value>/WEB-INF/config/application*.xml</param-value>
	</context-param>

	<context-param>
	     <param-name>actionPackage</param-name>
	     <param-value>com.zzuli.oj</param-value>
	</context-param>

	<listener>
		<listener-class>org.zz.qstruts2.listener.QStrutsListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>com.zzuli.oj.common.util.FilterDispatcher</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>